<!-- templates/analytics_list.html -->
{% extends "base.html" %}

{% block title %}Lista de Analytics{% endblock %}

{% block header %}Lista de Analytics{% endblock %}

{% block content %}
    <h2>Analytics Qualitativos</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
        {% for qual in analytics_list.qualAnalytics %}
        <tr>
            <td>{{ qual.name }}</td>
            <td>{{ qual.type }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Analytics Quantitativos</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
        {% for quant in analytics_list.quantAnalytics %}
        <tr>
            <td>{{ quant.name }}</td>
            <td>{{ quant.type }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
