<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Activity Provider - Edum@t{% endblock %}

{% block content %}
    <h2>Activity Provider - Edum@t</h2>
    <p>Abaixo estão os links para os diferentes serviços disponíveis:</p>
    <ul>
        <li><a href="/config">1. Página de configuração da atividade</a></li>
        <li><a href="/json_params">2. Lista de parâmetros</a></li>
        <li><a href="/user_url?activityID=12345">3. URL de deploy da atividade</a></li>
        <li><a href="/analytics">4. Analytics de um utilizador da atividade</a></li>
        <li><a href="/analytics_list">5. Lista de analytics disponíveis na atividade</a></li>
        <li><a href="/equacoes?activityID=12345">6. Atividade de Equações de 7º Ano</a></li>
    </ul>
{% endblock %}
